<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JTwig Page Visit Counter</title>
</head>
<body>
    <h2>Obecnie licznik odwiedziń wynosi:</h2>
    <h1>{{ pageVisitCounter }}</h1>
</body>
</html>